<h1>
  &lt;Fury&gt; [H] Fairbanks
</h1>
<mat-card class="login-panel">
  <h2>Log In</h2>
  <form class="login-form">
    <mat-form-field>
      <input matInput placeholder="Email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [formControl]="passwordFormControl">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <div class="login-button">
    <button (click)="login()" mat-raised-button color="primary">Login</button>
    <button mat-button routerLink="/signup">Sign up</button>
  </div>
</mat-card>